<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="hide" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:32px; color:#4f4d4d;">Check Out the Most-Shared Articles</td>
													</tr>
													<!--[if !mso]><!-- -->
													<tr>
														<td align="center">
															<div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:28px; color:#4f4d4d;">Check Out the<br />Most-Shared Articles</td>
																	</tr>
																</table>
															</div>
														</td>
													</tr>
													<!--<![endif]--> 
													<tr>
														<td class="mobpad4" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#4f4d4d;">These are the recent stories shared most by <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com" target="_blank" style="color:#4f4d4d;text-decoration:none;">NYTimes.com</a> readers.</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td align="center" valign="top" class="hide"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2Ff73b539c87f18dc7%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/f73b539c87f18dc7.png?mi_u={(regi_id)}" /></a></td>
										</tr>
										<!--[if !mso]><!-- -->
										<tr>
											<td align="center" bgcolor="#FFFFFF">
												<div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td class="em_img" align="center" valign="top"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F28b54194097d8cc5%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/28b54194097d8cc5.png?mi_u={(regi_id)}" class="em_img" /></a></td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
										<!--<![endif]-->

										<tr>
											<td align="center" valign="top" class="hide"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F0842dc6149cca759%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/0842dc6149cca759.png?mi_u={(regi_id)}" /></a></td>
										</tr>
										<!--[if !mso]><!-- -->
										<tr>
											<td align="center" bgcolor="#FFFFFF">
												<div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td class="em_img" align="center" valign="top"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2Ff58783e8815bd764%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/f58783e8815bd764.png?mi_u={(regi_id)}" class="em_img" /></a></td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
										<!--<![endif]-->
										<tr>
											<td align="center" valign="top" class="hide"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2Fd63a40f44013a5f2%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/d63a40f44013a5f2.png?mi_u={(regi_id)}" /></a></td>
										</tr>
										<!--[if !mso]><!-- -->
										<tr>
											<td align="center" bgcolor="#FFFFFF">
												<div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td class="em_img" align="center" valign="top"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F2c73c379134fc482%2Furl" target="_blank" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/2c73c379134fc482.png?mi_u={(regi_id)}" class="em_img" /></a></td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
										<!--<![endif]-->
									</table>
								</td>
							</tr>
						</table>