

//---Links Menu Principal

- link_menu_hotels = "#"

- link_menu_flights = "#"

- link_menu_cars = "#"

- link_menu_cruises = "#"

- link_menu_offers = "#"



//---Links offers body

- link_lead_offers = "#"

- link_sub_offers = "#"




- link_london = "#"

- link_barcelona = "#"

- link_berlin = "#"

- link_budapest = "#"
 
- link_prague = "#"

- link_st_peter = "#"






// ---Links feedback

- link_forward = "#"

- link_feedback = "#"

// ---Links menu footer


- link_contact = "#"

- link_view = "#"

- link_add = "#"

- link_Uns = "#"



// ---Links Terms & confitions

- link_sign_up = "#"

- link_travelterms = "#"

//---Track 1 pixel bottom

- link_pixel_bottom = "#"