- var title = 'Reasons to fall more in love with Paris'


//- ================
//- =Color shadown =
//- ================

- var color_1 = '#fcfcfc'
- var color_2 = '#f9f9f9'
- var color_3 = '#f5f5f5'
- var color_4 = '#f1f1f1'
- var color_5 = '#ebebeb'
- var color_6 = '#e4e4e4'

//- ================
//- =Color Tabs    =
//- ================

- var color_tab_1 = '#e6e8e9'
- var color_tab_2 = '#9ea0a1'
- var color_tab_3 = '#7f7b81'
- var color_tab_4 = '#756c76'

//- ================
//- = Path images  =
//- ================

- var project_number = "Template_001"
- var project_number_2 = "Template_002"
- var project_number_3 = "Template_003"
- var project_number_4 = "Template_004"
- var path_local = "images/" + project_number
- var path_local_2 = "" + project_number_2
- var path_local_3 = "" + project_number_3
- var path_local_4 = "" + project_number_4

//- ================
//- = Alt Text     =
//- ================

- atl_text_header = "BlackRock Logo"
- atl_text_hero = "SAY OUI TO PARIS. Discover Paris."

- atl_text_offer1 = "Been to the Louvre? Try Petit Palais."
- atl_text_offer2 = "Climbed the Eiffel Tower? Visit Pont des Arts."
- atl_text_offer3 = "Love Parisian dining? Browse Rue Mouffetard."