+space_body_color('15','#ffffff')

+body_parragraph('25px', '25px', 'set_padding_20px', '#ffffff', "24px", "28px", "#455560", "","center") 

	| <span style="font-weight: bold;">Double the Yield with Less Volatility</span><br>

	| <span style="font-size:20px">than a Balanced Portfolio</span>

+space_body_color('10','#ffffff')

+body_parragraph('25px', '25px', 'set_padding_20px align-left', '#ffffff', "13px", "18px", "#707372", "","center") 

	| With today&acute;s low yields, you need to go beyond traditional sources. It’s time to broaden your scope to a wider set of opportunities that exist beyond traditional income sources, which could provide higher yields.

+space_body_color('35','#ffffff','','space_30')

+body_parragraph('0px', '0px', '', '#e8eff1', "13px", "16px", "#707372", "","center") 
	
	+space_body_color('37','#e8eff1','','space_20')


	+body_parragraph('25px', '25px', 'set_padding_20px', '#e8eff1', "13px", "18px", "#455560", "","center") 

		| <span style="font-weight: bold;">The fund has offered high levels of income</span><br>

		| <span class="mobile_font_10px">30-day SEC Yield for BlackRock Multi-Asset Income Fund (Inst.)</span>
	
	+body_parragraph('25px', '25px', 'set_padding_20px', '#', "13px", "18px", "#707372", "","center") 
		+table_background('#e8eff1')
			tr
				td
					img(src="#{path_local_4}_body.jpg", alt=atl_text_header, style="display:block; width:100%; height: auto;", class="mobile_badge_body_4")

	+space_body_color('8','#e8eff1')		

	+body_parragraph('20px', '20px', 'set_padding_20px', '#e8eff1', "10px", "12px", "#455560", "left","left") 

		| *Average 30-Day subsidized SEC Yield for Institutional shares. Core bond represented by the Barclays U.S. Aggregate Bond Index. Global equity represented by the MSCI World Index. Index performance is shown for illustrative purposes only. It is not possible to invest directly in an index.

	
	+space_body_color('25','#e8eff1')	
	
	+table
			tr
				td(align="center", class="mobile_top_11px")
					img(src="#{path_local_4}_CTA_green.jpg", alt="",  width="145", height="auto", class="", style="font-family:Arial;font-size:11px;display: block; margin: 0 auto; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )

	+space_body_color('30','#e8eff1')		

	+body_parragraph('20px', '20px', 'set_padding_20px', '#e8eff1', "10px", "12px", "#707372", "left","left") 

		| All fund data based on Institutional share class, other share classes will vary. Total returns as of 6/30/15 for Institutional shares: 1 Yr, 0.25%; 5 Yrs (Ann.), 9.44%; Since Inception (Ann.), 6.14%. The fund&acute;s annual total returns prior to November 28, 2011 reflect a different investment strategy. <span style="font-weight: bold;">Data represents past performance and is no guarantee of future results.</span> <span style="font-weight: bold; font-size:13px; line-height: 15px;">The investment return and principal value of an investment will fluctuate so that an investor&acute;s shares, when redeemed, may be worth more or less than their original cost. Current performance may be lower or higher than the performance data quoted. Refer to website at blackrock.com to obtain performance data current to the most recent month-end.</span> Returns include reinvestment of dividends and capital gains. Institutional total/net including investment related/net excluding investment related expenses as of the most recent prospectus are 0.74%/0.59% and 0.55%. The fund&acute;s net operating expenses exclude acquired fund fees and investment interest expenses, if any, and certain other fund expenses. BlackRock has agreed contractually to waive or reimburse certain fees and expenses until 12/1/15. Contractual waivers terminable upon 90 days&acute; notice by the fund&acute;s independent trustees or majority vote of outstanding fund securities. 30-Day SEC Yield (subsidized)&mdash;the calculation is based on a 30-day period ending on the last day of the previous month. It is computed by dividing the net investment income per share earned during the period by the maximum offering price per share on the last day of the period. If the fund expenses have waivers, the subsidized yield is based on the net expenses. 30-Day SEC Yield (unsubsidized)&mdash;this calculation is based on total expenses of the fund.

	+space_body_color('30','#e8eff1')	

	+body_parragraph('20px', '20px', 'set_padding_20px', '#e8eff1', "13px", "18px", "#707372", "","center") 
		span(style="font-weight: bold;")
			|  The flexibility and agility of BlackRock&acute;s     

			+anchor_links_menu_desktop(link_lead_offers) Multi-Asset Income Fund

			|  can help you capture these opportunities and adapt to market challenges.		

	+space_body_color('40','#e8eff1')	
	+space_body_color('1','#cccccc')	
