
+space_body_color('15','#ffffff')

+body_parragraph('25px', '25px', 'set_padding_20px', '#ffffff', "24px", "30px", "#455560", "","center") 

	| <span style="font-weight: bold;">Why Does Tactical Asset Allocation Matter?</span>

+space_body_color('10','#ffffff')

+body_parragraph('25px', '25px', 'set_padding_20px align-left', '#ffffff', "13px", "18px", "#707372", "","center") 

	| Through our 

	+anchor_links_menu_desktop(link_lead_offers) up-to-date interactive charts

	| , learn how the fund has carefully balanced <span style="white-space: nowrap;">the trade-offs</span> between yield and risk.

+space_body_color('25','#ffffff','','')

+body_parragraph('0px', '0px', '', '#e8eff1', "13px", "16px", "#707372", "","center") 
	
	+space_body_color('25','#e8eff1','','space_20')
	
	+body_parragraph('25px', '25px', 'set_padding_20px', '#', "13px", "18px", "#707372", "","center") 
		+table_background('#ffffff')
			tr
				td
					img(src="#{path_local_3}_animation.gif", alt=atl_text_header, style="display:block; width:100%; height: auto;", class="mobile_badge_gif")

	+space_body_color('18','#e8eff1')		

	+body_parragraph('20px', '20px', 'set_padding_20px', '#e8eff1', "13px", "18px", "#455560", "left") 

		| In volatile markets, income can be elusive. Consider a fund that seeks the best income opportunities around the world and across asset classes, carefully balancing the trade-offs between yield and risk. BlackRock&acute;s 
		+anchor_links_menu_desktop(link_lead_offers) Multi-Asset Income 
		| Fund goes beyond traditional sources to help you capture opportunities and adapt to market challenges. 



	+space_body_color('18','#e8eff1')	
	
	+table
			tr
				td(align="center", class="mobile_top_11px")
					a(href="#")
						img(src="#{path_local_3}_CTA_green.jpg", alt="",  width="174", height="auto", class="", style="font-family:Arial;font-size:11px;display: block; margin: 0 auto; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )

	+space_body_color('40','#e8eff1')	
	+space_body_color('1','#cccccc')	
