+space_body_color('45','#ffffff')

+body_parragraph('39px', '39px', 'set_padding_20px', '#ffffff', "30px", "36px", "#455560", "","center") 

	| <span style="font-weight: bold;">Is your income strategy taking too&nbsp;much risk?</span>

+space_body_color('16','#ffffff')

+body_parragraph('99px', '99px', 'set_padding_20px align-left', '#ffffff', "14px", "22px", "#707372", "","left") 

	| Now might be the time to dial down. BlackRock’s Multi-Asset Income Fund manager Michael Fredericks advises to 

	+anchor_links_menu_desktop(link_lead_offers) diversify and de-risk

	|  when reaching for income.

+space_body_color('38','#ffffff','','space_30')





+body_parragraph('19px', '19px', 'set_padding_20px', '#', "13px", "18px", "#707372", "","center") 
	+table_background('#ffffff')
		tr
			td
				img(src="#{path_local}_Video_D.jpg", alt=atl_text_header, style="display:block; width:100%;")

+space_body_color('10','#ffffff')		

+body_parragraph('39px', '39px', 'set_padding_20px', '#ffffff', "12px", "18px", "#455560", "","left") 

	| BlackRock’s Multi-Asset Income Fund lead portfolio manager Michael Fredericks advises to  
	+anchor_links_menu_desktop(link_lead_offers) diversify and de-risk 
	|  when reaching for income.

+space_body_color('34','#ffffff')	


		
//two column part 1

+body_parragraph('39px', '39px', 'set_padding_20px', '#ffffff')
	+table
		tr
			//Left block
			td(valign="top", class="block_mobile")
				+table_break('242','left','set_mobile_width_100_pct')
					
					tr
						+td_title_blue Still Room To Go  >
					tr
						td
							+space_body_color('10','#ffffff')	
					tr
						td
							+space_body_color('2','#c6cdd1')	
					tr
						+td_paragraph_blue This has been an extended cycle, but cycles don’t die of old age. We believe there’s still room to run, but the time to&nbsp;indiscriminately take on a lot of risk has passed.

			td(valign="top", class="block_mobile")
				+table_break('28','right','')					

					tr
						td
							| &nbsp;
			//Right block
			td(valign="top", class="block_mobile")
				+table_break('242','left','set_mobile_width_100_pct')
					
					tr
						+td_title_blue The Search For Income  >
					tr
						td
							+space_body_color('10','#ffffff')	
					tr
						td
							+space_body_color('2','#c6cdd1')	
					tr
						+td_paragraph_blue Traditional stock and bond valuations appear fairly expensive: the repricing we saw in other areas of the market in&nbsp;2015 has created new pockets of opportunity.



+space_body_color('27','#ffffff')	

+table
		tr
			td(align="center", class="mobile_top_11px")
				table(width="190", style="width:190px;")
					tr
						td(width="190", style="width:190px; font-size:20px; color:#ffffff; background:#81bd41 ; text-align:center; padding:10px;letter-spacing: 0.68px;") 

							a(href="#", style="color:#ffffff; text-decoration:none;") WATCH VIDEO


+space_body_color('46','#ffffff')		
	

+body_parragraph('39px', '39px', 'set_padding_20px', '#ffffff', "12px", "18px", "#455560", "","left") 

	+strong Stay Informed 
	br
	+anchor_links_menu_desktop(link_lead_offers) Sign up 
	|  for timely market outlooks, performance, and portfolio positioning insights from MAI. 
+space_body_color('25','#ffffff')	