//Footer
+space_body_color('22','#ffffff')

+table
	tr
		//Left block
		td(valign="top", class="block_mobile")
			+table_break('110','left','set_mobile_width_100_pct')					

				tr
					+td_footer__blue Multi-Asset Income&nbsp;Fund


		//Right block
		td(valign="top", class="block_mobile")
			+table_break('478','right','set_mobile_width_100_pct')					


				tr
					td

						img(src="#{path_local}_Numbers_D.jpg", alt=atl_text_offer3,  width="478", class="mobile_badge_movable", style="font-family:Arial;font-size:11px;display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-style: none; border-width: 0px; font-size:10PX;", border="0" )

+space_body_color('20','#ffffff')
+space_body_color('4','#0072bc')
+space_body_color('19','#ffffff')
+body_parragraph('19px', '19px', 'set_padding_20px', '#ffffff', "11px", "13px", "#455560", "","left","bold") 
	| Performance data quoted represents past performance and is no guarantee of future results. Investment returns and principal values may fluctuate so that an investor’s shares, when redeemed, may be worth more or less than their original cost. Current performance may be lower or higher than that shown. All returns assume reinvestment of all dividend and capital gain distributions. Refer to <a href="#" style="color:#707372; text-decoration:underline;">blackrock.com/funds</a> for current month-end performance. Investment returns reflect total fund operating expenses, net of all fees, waivers, and/or expense reimbursements. Index performance is shown for illustrative purposes only. It is not possible to invest directly in an unmanaged index.
+space_body_color('28','#ffffff')

		