//START Header logo
+table_background('#ffffff')
	tr
		td
			img(src="#{path_local}_Header.jpg", alt=atl_text_header, style="display:block; width:100%; height: auto;", class="mobile_badge_header")

//START Menu
+table_background('#005eb8')
	tr
		+td_menu_tab('150','height-40px',link_menu_hotels, 'FACT SHEET')

		+separate_tabs(color_tab_1)


		+td_menu_tab('150','height-40px',link_menu_flights, 'INVESTOR GUIDE')

		+separate_tabs(color_tab_1)


		+td_menu_tab('150','height-40px',link_menu_cruises, 'COMMENTARY')

		+separate_tabs(color_tab_1)

		+td_menu_tab('150','height-40px',link_menu_offers, 'iCHARTS')
+table_background('#ffffff')
	tr
		td
			img(src="#{path_local}_Blur.jpg", alt="", style="display:block; width:100%; height: auto;")
