
+body_parragraph('20px', '20px', 'set_padding_20px', '#ffffff', "13px", "16px", "#455560", "","left") 
	img(src="#{path_local}_Footer_logo.jpg", alt=atl_text_header,  style="display:block; width:110px; height: 53px;")	

+space_body_color('8','#ffffff')

+body_parragraph('20px', '20px', 'set_padding_20px', '#ffffff', "11px", "12px", "#455560", "","left") 

	| For standardized returns for the fund as of the most recent calendar quarter click here: <a href="#" style="color:#707372">blackrock.com/mai</a> <br><br>

	| Minimum initial investment for Institutional shares is $2 million. Institutional shares also are available to clients of registered investment advisors with $250,000 invested in the fund, and offered to participants in various wrap fee programs and other sponsored arrangements at various minimums.<br><br>

	<span style="font-size: 11px; line-height: 13px;"><span style="font-weight: bold;">Investing involves risk, including possible loss of principal. Please ask your clients to consider the investment objectives, risks, charges and expenses of the fund carefully before investing. The prospectus and, if available, the summary prospectus contain this and other information about the fund and are available, along with information on other BlackRock funds, by calling <span class="appleLinksBlack">800-882-0052</span>. The prospectus should be read carefully before investing.</span></span><br><br>
	| To unsubscribe or to adjust your email preferences, please visit the <a href="#" style="color:#707372">Subscription Preferences</a> page.<br><br>
	| &copy;2015 BlackRock. All rights reserved. <span style="font-weight: bold;">BLACKROCK</span> is a registered trademark of BlackRock, Inc., or its subsidiaries ("BlackRock"). All other trademarks, service marks or registered trademarks are the property of their respective owners.<br><br>
	| Prepared by BlackRock Investments, LLC, member FINRA. BlackRock, Inc., <span class="appleLinksBlack">40 East 52nd Street, New York, NY&nbsp;10022</span>	
	br
	br

	+strong FOR FINANCIAL PROFESSIONAL USE ONLY. NOT TO BE SHOWN OR DISTRIBUTED TO CLIENTS.
	br
	br
	| USR-XXXX
+space_body_color('20','#ffffff')
