doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")

	head
		<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		<meta content="telephone=no" name="format-detection" />
		<!--[if !mso]>-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!--<![endif]-->
		title
		// CSS code
		include ../css/header.css	
	body
		// MOVABLE INK TRACKING PIXEL 
		include Modules/movableinktrack.html
		//BEGIN SUBJECT LINE PREVIEW TEXT LOCATION #2
		
		table(cellpadding="0", cellspacing="0", border="0", width="100%", align="center")
			tr
				td(valign="top")
					// PreHeader
					table(width="640", border="0", align="center", cellpadding="0", cellspacing="0", class="main_table")
						tr
							td(align="left", valign="top", style="font-family: Helvetica, Arial, sans-serif; font-size:11px; line-height:14px; text-align:left; color:#696969; font-weight:200;")
								| Take full advantage of your unlimited NYTimes.com access and enjoy our vast selection of articles, blogs, videos, interactive features and more.
						// Begin view in browser and hero					
						include Modules/hero.html
						// Nav 
						include Modules/nav.html
						// Blocks
						tr
							td(bgcolor="#e6e6e6", align="center", valign="top", style="padding:15px;")
								// Block 1
								include Modules/block_1.html
								// Block 2
								include Modules/block_2.html
								// Block 3
								include Modules/block_3.html
								include Modules/block_3_Com.html
								// Block 4
								include Modules/block_4.html
								// Block 7
								include Modules/block_7.html
								// Block 5
								include Modules/block_5.html
								// Block 6
								include Modules/block_6.html
								

								table(cellpadding="0", cellspacing="0", border="0", width="100%", align="center")
									// Block 8
									include Modules/block_8.html
									// Block 10
									include Modules/block_10.html
									// Block social
									include Modules/social.html
									// Block disclaimer
									include Modules/disclaimer.html


