
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px; border-bottom:1px solid #e6e6e6;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:15px; color:#404040;padding-top:10px;line-height:18px;">CATCH UP WITH EDITOR IN CHIEF, THE NEW YORK TIMES MAGAZINE</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:32px; color:#404040;line-height:34px;padding-top:5px;">Jake Silverstein</td>
													</tr>
                                                    
                                                    

                                                    
													<tr>
														<td align="center" valign="top" style="padding-top:20px; padding-bottom:30px;"><img src="CRS-14907_OTP_march_Jake_Silverstein.jpg" width="258" height="258" alt="Jake Silverstein" border="0" style="display:block;" /></td>
													</tr>
                                                    </table>
                                                    
                                                    
                                                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    
													
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 45px 0 45px; text-align:center; line-height:20px;font-weight:200;">The magazine is always a fascinating Times section, and many feel this has been especially true since Jake Silverstein took the helm in 2014. Among his fans is the American Society of Magazine Editors, which honored The New York Times Magazine in February 2017 with three National Magazine Awards (for public interest, essays/criticism and for feature writing). We last spoke to Jake in the June 2016 issue of your subscriber newsletter. Here, he brings us up to date and answers a few more questions. </td>
													</tr>

													
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>