
						<tr>
					<td class="mobpad2" align="center" valign="top" bgcolor="#626262" style="padding-top:60px; padding-bottom:60px; padding-right:90px; padding-left:90px;">
						<table cellpadding="0" cellspacing="0" border="0" width="360" class="main_table">
							<tr>
								<td align="center" valign="top" style="padding-bottom:30px;"><img src="CRS-14907_march_Off_the_Press_faq.png" width="358" height="23" alt="Questions? We're here to help" border="0" style="display:block;" class="em_img" /></td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding-bottom:20px;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td align="left" valign="top" width="53" style="padding-right:20px;"><img src="CRS-14907_march_Off_the_Press_web.png" width="46" height="46" alt="" border="0" style="display:block;" /></td>
											<td align="left" valign="middle" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#d6d6d6; font-weight:bold;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fwww.nytimes.com%2Fcontent%2Fhelp%2Faccount%2Fpurchases%2Fsubscriptions-and-purchases.html" target="_blank" style="color:#FFFFFF; text-decoration:underline;">Frequently Asked Questions</a></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding-bottom:20px;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td align="left" valign="top" width="53" style="padding-right:20px;"><img src="CRS-14907_march_Off_the_Press_livechat.png" width="46" height="46" alt="" border="0" style="display:block;" /></td>
											<td align="left" valign="middle" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#FFFFFF; font-weight:bold;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Fz1.liveper.sn%2Fapi%2Faccount%2F17743901%2Froute%2Fcampaign%2F1115676812%2Fengagement%2F1115678412" style="color:#FFFFFF; text-decoration:underline;">Live Chat</a></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" valign="top">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td align="left" valign="top" width="53" style="padding-right:20px;"><img src="CRS-14907_march_Off_the_Press_phone.png" width="46" height="46" alt="" border="0" style="display:block;" /></td>
											<td align="left" valign="middle" style="font-family:Helvetica, Arial, sans-serif; font-size:13px; color:#d6d6d6;"><span style="color:#FFFFFF; font-weight:bold;font-size:15px;">1-800-591-9233</span><br />
Monday &ndash; Friday, 7 a.m. &ndash; 10 p.m. ET<br />
Saturday and Sunday, 7 a.m. &ndash; 3 p.m. ET</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>