
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px; border-bottom:1px solid #e6e6e6;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:15px; color:#404040;padding-top:10px;line-height:18px;">CATCH UP WITH EDITORIAL DIRECTOR OF NYT GLOBAL</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:32px; color:#404040;line-height:34px;padding-top:5px;">Jodi Rudoren</td>
													</tr>
                                                    
                                                    

                                                    
													<tr>
														<td align="center" valign="top" style="padding-top:20px; padding-bottom:30px;"><img src="CRS-14469_OTP_march_jodi_rudoren.png" width="258" height="258" alt="Jodi Rudoren" border="0" style="display:block;" /></td>
													</tr>
                                                    </table>
                                                    
                                                    
                                                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    
													
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 45px 0 45px; text-align:center; line-height:20px;font-weight:200;">The world&rsquo;s her stage. Recently appointed editorial director of NYT Global, and just before that a deputy editor of international news, Jodi knows about bringing home the big stories from all over the map. She also brings to her job a diversity of experiences, having served as a National and Metro correspondent and editor. Perhaps no correspondent ever inspired as much reader email as Jodi did while serving as Jerusalem bureau chief; one of her critics fiercely accused her of &ldquo;neutrality.&rdquo;
 <br /><br />
We recently spoke to her, and here’s what she told us.</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>