<tr>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td class="hide" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:32px; color:#4f4d4d;">Check Out the Most-Shared Articles</td>
                                    </tr>
                                    <!--[if !mso]><!-- -->
                                    <tr>
                                        <td align="center">
                                            <div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:28px; color:#4f4d4d;">Check Out the
                                                            <br />Most-Shared Articles</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--<![endif]-->
                                    <tr>
                                        <td class="mobpad4" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#4f4d4d;">These are the recent stories shared most by <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com" target="_blank" style="color:#4f4d4d;text-decoration:none;">NYTimes.com</a> readers.</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" class="hide">
                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F3e327b6f49bcc2c6%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/3e327b6f49bcc2c6.png?mi_u={(regi_id)}" /></a>
                            </td>
                        </tr>
                        <!--[if !mso]><!-- -->
                        <tr>
                            <td align="center" bgcolor="#FFFFFF">
                                <div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td class="em_img" align="center" valign="top">
                                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2Fef2755155a7ae415%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/ef2755155a7ae415.png?mi_u={(regi_id)}" class="em_img" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--<![endif]-->
                        <tr>
                            <td align="center" valign="top" class="hide">
                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F621e277600a05765%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/621e277600a05765.png?mi_u={(regi_id)}" /></a>
                            </td>
                        </tr>
                        <!--[if !mso]><!-- -->
                        <tr>
                            <td align="center" bgcolor="#FFFFFF">
                                <div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td class="em_img" align="center" valign="top">
                                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F6985a3ce8a3142ad%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/6985a3ce8a3142ad.png?mi_u={(regi_id)}" class="em_img" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--<![endif]-->
                        <tr>
                            <td align="center" valign="top" class="hide">
                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F5dd9512e29df5760%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/5dd9512e29df5760.png?mi_u={(regi_id)}" /></a>
                            </td>
                        </tr>
                        <!--[if !mso]><!-- -->
                        <tr>
                            <td align="center" bgcolor="#FFFFFF">
                                <div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td class="em_img" align="center" valign="top">
                                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=http%3A%2F%2Fm-ink.newyorktimesinfo.com%2Fp%2Frp%2F63788faa7683bbd6%2Furl" style="display: block;"><img alt="Display images to show real-time content" style="border: 0; display: block;" border="0" src="http://m-ink.newyorktimesinfo.com/p/rp/63788faa7683bbd6.png?mi_u={(regi_id)}" class="em_img" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--<![endif]-->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
