
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">WHAT ARE SOME OF YOUR MAIN GOALS IN LEADING THE&nbsp;TIMES&rsquo;S CLIMATE COVERAGE?
</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">We are working to grow our coverage on several fronts: to make it more explanatory and more visual so that readers can see the direct results of changes in our climate and understand how it is affecting their lives and communities. We are also expanding our international and investigative coverage because climate change is reaching all areas of the globe, so our stories need to as well.</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">AS A LONG-TIME GRAPHICS EDITOR AT THE TIMES, AND AS VISUAL EDITOR FOR TWO OF OUR BIG CLIMATE STORIES LAST YEAR (“GREENLAND IS MELTING AWAY” AND “LIVING IN CHINA&rsquo;S EXPANDING DESERTS”), DO YOU SEE VISUAL PRESENTATION AS A KEY PART OF OUR CLIMATE COVERAGE? IN WHAT WAYS?</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">I think visuals are an incredible tool for telling stories about climate change. Josh Haner, the photographer for those two stories you cited, has done amazing work to bring these stories to readers. In the Greenland piece, he captured the urgency of the story by flying a drone down a meltwater river that was rapidly cutting through the ice. In the China desert piece, his pictures of a small girl running through the sand dunes humanized the story of communities in rural China being erased by the sands. In both pieces, Times cartographers Derek Watkins and Jeremy White used data mapping to show the scale of the melting glaciers and growing deserts. The stories reached a wide audience, and the response from readers was tremendous. Our hope is to do more of them.
 </td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 10px 20px 10px;">ARE THERE SPECIFIC CHALLENGES IN COVERING CLIMATE ISSUES?</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">One of the biggest challenges is the timescale. The climate change that scientists have documented and that is affecting people around the globe is happening rapidly on a geologic timescale, but many of us are more used to defining immediate change through a much shorter timescale, like months rather than decades. </td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">HOW DID YOU GET YOUR START AT THE TIMES? DID GROWING UP IN ALASKA CONTRIBUTE TO YOUR INTEREST IN CLIMATE?
</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">I started working in The Times&rsquo;s graphics department in 2000, and gravitated toward science, environmental and climate coverage because I had majored in geoscience in college, and later gotten a master&rsquo;s degree in the same field. I liked the intersection of science, storytelling, data and visuals &mdash; a combination that I am still exploring in wonderful ways. One of the first big graphics I worked on was for a cover of Science Times, to pair with a story that Andy Revkin wrote on how melting permafrost in Alaska was limiting the ability to explore for oil. I used data to show that even in the 1990s, spring was coming much earlier to the Arctic. </td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						