
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">WHAT DOES YOUR NEW JOB AS EDITORIAL DIRECTOR, NYT GLOBAL ENTAIL?</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">Well, I&rsquo;m writing this on an airplane to Newark at the end of a 15-day trip through Stockholm, Amsterdam, Brussels, Hong Kong and Beijing &mdash; so it seems to entail a lot of travel! 
<br /><br />
The idea of NYT Global is to grow our audience around the world and to make The Times a truly international news organization. That means expanded coverage in Australia and Canada, where the decline of the local media has left readers clamoring for quality journalism. It means building our brand across Europe to showcase our coverage of Europe as well as our indispensable service journalism on health and food, our innovative visual-first projects, our podcasts. It means evolving our Spanish and Chinese websites. It means helping build out lines of coverage on climate change, gender, technology and urbanization that resonate in every corner of the world. And it means working across the newsroom to ensure that the report is not presumptively American, that we don&rsquo;t send the message to readers abroad that this is not for them. 
<br /><br />
That&rsquo;s what I know right now, but Global is new and entrepreneurial and looking for opportunities to seize. We&rsquo;d love to hear readers&rsquo; ideas about how to get their friends and neighbors engaged with Times journalism. Send your suggestions to <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=mailto%3Aglobal%40nytimes.com" style="color:#090a0a; text-decoration:underline;">global@nytimes.com</a>.</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>