<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top" style="padding-bottom:0px; padding-top:15px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="mobpad" bgcolor="#868686" align="left" valign="top" style="padding:40px;">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#ffffff;line-height:32px;text-align:center;padding-bottom:20px;">Did you know?
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:25px;">
                                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Ftimesmachine.nytimes.com%2Ftimesmachine%2F1896%2F09%2F06%2Fissue.html" target="_blank"><img src="CRS-14907_march_OTP_Newspaper_NYT.png" width="528" height="244" alt="The NewYork Times Newspaper" border="0" style="display:block;" class="em_img" /></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mobpad3" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#ffffff;line-height:20px; padding: 0 30px 0 30px;">
                                                The New York Times Sunday Magazine supplement made its debut on Sept. 6, 1896. It was an epic 16 pages (today&rsquo;s magazine hits around 80), spanning diverse categories, some of which would eventually have their own sections. There were book reviews in that debut issue, for instance, which would secede into their own section just one month later. A featured article looked back on the historic presidential campaign of 1860 (the Civil War still an all-too vivid memory for readers). &ldquo;About X-Ray Photography&rdquo; was timely, X-rays having just recently been discovered. There was &ldquo;gossip about social matters&rdquo; and a &ldquo;Sanitation&rdquo; heading. Take a look for yourself.
                                            </td>
                                        </tr>
                                        <!--START CTA-->
                                        <tr>
                                            <td align="center" style="padding-top: 25px; padding-bottom: 0px;">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td align="center" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" bgcolor="#868686"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Ftimesmachine.nytimes.com%2Ftimesmachine%2F1896%2F09%2F06%2Fissue.html
" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 12px 14px; border: 1px solid #ffffff; display: inline-block; font-weight:bold;">VISIT TIMESMACHINE</a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!--END CTA-->
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
