<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding-bottom:15px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:50px 40px 50px 40px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="mobpad_featured_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#4bb8c6; line-height:35px; padding-bottom:40px; text-align:center;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2F2014%2F10%2F17%2Fworld%2Fafrica%2Fbecause-of-ebola-ambulance-work-in-liberia-is-a-busy-and-lonely-business.html" target="_blank" style="color:#4bb8c6; text-decoration:none;"> The New York Times Magazine</a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:10px;">
                                    <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2F2014%2F10%2F17%2Fworld%2Fafrica%2Fbecause-of-ebola-ambulance-work-in-liberia-is-a-busy-and-lonely-business.html" target="_blank"><img src="CRS-14469_march_OTP_earth.jpg" width="318" alt="" border="0" style="display:block;" class="em_img" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="ceneter" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; padding-top:30px; line-height:20px; padding-bottom:30px; text-align: center;">It has won Pulitzer Prizes and admirers nationwide. Its articles have sparked conversations, its crossword puzzles have tormented participants, its ethical, medical and culinary pieces have engaged readers everywhere. The New York Times Magazine has published work by leading authors and visual artists, experimented with new forms and new technology. And it has a widely acclaimed, bold-thinking editor in chief, interviewed below. </td>
                            </tr>
                            <!--START CTA-->
                            <tr>
                                <td align="center" style="padding-top: 0px;">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td align="center" style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;" bgcolor="#4bb8c6"><a href="https://www.nytimes.com/times-journeys/students/travel/colombia-lessons-of-a-50-year-conflict/?utm_source=HDemail_032017&utm_campaign=catalog_followup&utm_medium=email&utm_content=colombia" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 12px 14px; border: 1px solid #4bb8c6; display: inline-block; font-weight:bold;">A SELECTION OF RECENT ARTICLES</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--END CTA-->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
