
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">The magazine has made especially compelling use of virtual reality. Do you have any favorites? Do you see VR as an important component of magazine stories in the future?</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">I love all our VR work. Those films have been some of the most interesting projects of the past couple of years. Now that we’ve been doing it awhile, it’s no longer a brand-new tool, it’s just another of the ways we can tell stories and bring readers up close to the subjects we’re covering. VR is always something we think about. But we tend to save it for 
special occasions.
 </td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>