
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="border-bottom:1px solid #e6e6e6;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_copy" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td class="mobpad2_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; font-weight:bold; line-height:18px; text-align:center; padding: 0 40px 20px 40px;">WHAT ARE SOME OF THE BIGGEST CHALLENGES FOR THE TIMES TODAY IN COVERING A WORLD IN TURMOIL?</td>
													</tr>
													<tr>
														<td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 35px 0 35px; text-align:center; line-height:20px;font-weight:200;">Access. We have been unable to safely travel to most of Syria during the long and chaotic civil war there. In China, we struggle to get journalist visas to bring in new correspondents. We recently had a reporter turned back at the Istanbul airport because he had been blacklisted. Hamas has made it difficult for our reporters to work in Gaza.
<br /><br />
And, of course, danger: our photographer Bryan Denton was recently hit by an <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2F2016%2F10%2F27%2Fworld%2Fmiddleeast%2Firaq-mosul-isis-car-bombs.html" target="_blank" style="color:#090a0a; text-decoration:underline;">ISIS car bomb in Iraq</a>, our team in Mogadishu was <a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2F2017%2F01%2F25%2Fworld%2Fafrica%2Fmogadishu-somalia-hotel-attack.html" target="_blank" style="color:#090a0a; text-decoration:underline;">frighteningly close to a deadly explosion in January</a>, travel in Yemen is severely restricted. The list goes on and on.</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>