<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding-bottom:15px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:50px 35px 50px 35px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="mobpad_featured_title" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#f69679; line-height:35px; padding-bottom:40px; text-align:center;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Fsection%2Fclimate" target="_blank" style="color:#f69679; text-decoration:none;"> Climate Coverage <br/>in The New York Times</a></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:10px;">
                                    <a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Fsection%2Fclimate" target="_blank"><img src="CRS-15290_may_OTP_earth.jpg" width="528" alt="Climate Coverage" border="0" style="display:block;" class="em_img" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="ceneter" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; padding-top:30px; line-height:20px; padding-bottom:30px; text-align: center;">The Times continues to lead the way in covering climate issues. We&rsquo;re exploring threats to the earth from a wide range of perspectives and in an array of formats, from in-depth articles to compelling graphics, photographs, video and more. We look at the data, industries, politics, the lives already affected. And our climate reporting spans the globe, from &ldquo;Rising Waters Threaten China&rsquo;s Rising Cities&rdquo; to &ldquo;As the Maldives Gains Tourists, It&rsquo;s Losing Its Beaches.&rdquo; Below are some other stories you might want to read.</td>
                            </tr>
                            <tr>
                                <td align="ceneter" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a; padding-top:30px; line-height:20px; padding-bottom:30px; text-align: center;">
                                <a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Finteractive%2F2017%2F03%2F21%2Fclimate%2Fhow-americans-think-about-climate-change-in-six-maps.html" style="color:#090a0a; text-decoration: underline;">&ldquo;How Americans Think About Climate Change, in Six Maps&rdquo;</a>
 <br/> <br/>
<a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&_r=0&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2F2017%2F03%2F15%2Fscience%2Fgreat-barrier-reef-coral-climate-change-dieoff.html" style="color:#090a0a; text-decoration: underline;">&ldquo;Large Sections of Australia&rsquo;s Great Barrier Reef Are Now Dead, Scientists Find&rdquo;</a>
  <br/> <br/>
<a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Finteractive%2F2017%2F03%2F22%2Fus%2Fcalifornia-measuring-snowpack.html" style="color:#090a0a; text-decoration: underline;">&ldquo;We Have Some Good News on the California Drought. Take a Look.&rdquo;</a>
                                </td>
                            </tr>
                            
                            <!--START CTA-->
                            <tr>
                                <td align="center" style="padding-top: 0px;">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td align="center" style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;" bgcolor="#f69679"><a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mcid=nyt&mc=einternal&subid=retention_dual%20subs&subid1=engagement&subid2=off%20the%20press&mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Fsection%2Fclimate" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 12px 14px; border: 1px solid #f69679; display: inline-block; font-weight:bold;">A SELECTION OF RECENT ARTICLES</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--END CTA-->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
