
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="padding-bottom:15px;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_message" bgcolor="#FFFFFF" align="left" valign="top" style="padding:50px 40px 50px 40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td align="left" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a;line-height:20px;font-weight:200;">Dear Subscriber,<br /><br />
															Need a strong dose of reading matter that&rsquo;s timely and eye-opening but ventures beyond the political crisis of the hour? To that end, we submit The New York Times Magazine, the prime subject of your April subscriber newsletter. With Earth Day, the evergreen tradition that started in 1970, coming up this month, and with the battles over environmental issues hotter than ever, The New York Times Magazine will publish a special issue devoted to sustainability and the environment on Sunday, April 23. For more about The Magazine (among other topics) that may interest and surprise you, please read on.

														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>