<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="left" valign="top" style="padding-bottom:15px;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_message" bgcolor="#cacaca" align="left" valign="top" style="padding:40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#FFFFFF;line-height:32px;text-align:center;padding-bottom:20px;">More That&rsquo;s New and Noteworthy</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#000000;line-height:32px;text-align:center;padding-bottom:20px;">Explore Other Sections</td>
													</tr>
													<tr>
														<td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:16px; color:#000000;line-height:21px; padding: 0 30px 0 30px;">Take a detour from the weightier issues of the day with rewarding, if habit-forming, Times features.</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding-top:30px; padding-bottom:20px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/4ca8ed321416bdd6/c?mi_u=%%REGI_ID%%&url=http%3A%2F%2Fwww.nytimes.com%2Fcolumn%2Fmodern-love" target="_blank"><img src="CRS-12286_OTP_October_other_img1.png" width="528" height="180" alt="" border="0" style="display:block;" class="img" /></a></td>
													</tr>
													<tr>
														<td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#000000;line-height:21px; font-weight:bold; padding: 0 30px 0 30px;">Modern Love: Here to steal your heart.</td>
													</tr>	
													<tr>
														<td align="center" valign="top" style="padding-top:30px; padding-bottom:20px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/4ca8ed321416bdd6/c?mi_u=%%REGI_ID%%&url=http%3A%2F%2Fcooking.nytimes.com%2F"><img src="CRS-12286_OTP_October_other_img2.png" width="528" height="180" alt="" border="0" style="display:block;" class="img" /></a></td>
													</tr>
													<tr>
														<td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#000000;line-height:21px; font-weight:bold; padding: 0 30px 0 30px;">New York Times Cooking: Enliven your menus.</td>
													</tr>
													<tr>
														<td align="center" valign="top" style="padding-top:30px; padding-bottom:20px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/4ca8ed321416bdd6/c?mi_u=%%REGI_ID%%&url=http%3A%2F%2Fwww.nytimes.com%2Fsection%2Fwell" target="_blank"><img src="CRS-12286_OTP_October_other_img3.png" width="528" height="180" alt="" border="0" style="display:block;" class="img" /></a></td>
													</tr>
													<tr>
														<td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#000000;line-height:21px; font-weight:bold; padding: 0 30px 0 30px;">Well: Take your health and fitness to the next level.</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>