<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px; border-bottom:1px solid #e6e6e6;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:15px; color:#404040;padding-top:10px;line-height:18px;">CATCH UP WITH CLIMATE EDITOR, THE NEW YORK TIMES        </td>        </tr>
                <tr>
                    <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:32px; color:#404040;line-height:34px;padding-top:5px;">Hannah Fairfield</td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding-top:20px; padding-bottom:30px;"><img src="CRS-14907_OTP_march_Jake_Silverstein.jpg" width="258" height="258" alt="Hannah Fairfield" border="0" style="display:block;" /></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td class="mobpad1" align="center" valign="top" style="font-family:Georgia, Times New Roman, serif; font-size:15px; color:#090a0a; padding: 0 45px 0 45px; text-align:center; line-height:20px;font-weight:200;">In the January 2017 press release introducing Hannah Fairfield as our climate editor, The Times wrote: “No topic is more vital than climate change and covering it requires drive, creativity and more than a little bit of specialized knowledge. We are thrilled to announce that we found an editor with all those qualities &mdash; and more &mdash; to lead our climate coverage: Hannah Fairfield.” She has been with The Times for nearly 15 years, and holds two master&rsquo;s degrees from Columbia University, in journalism and environmental science. Just saying. But we&rsquo;ll let her speak for herself.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
