<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding-bottom:15px; padding-top:0px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#000000;line-height:32px;text-align:center;padding-bottom:20px;">Treat her to The Times.
It&rsquo;s the gift that gives all year.
</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:25px;">
                                    <a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Fsubscriptions%2FMultiproduct%2Flp8R34X.html" target="_blank"><img src="CRS-15290_may_OTP_Block_5.jpg" width="522" height="386" alt="Treat her to The Times.
It's the gift that gives all year." border="0" style="display:block;" class="em_img" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Times New Roman, serif; font-size:15px; color:#000000;line-height:20px; padding: 0 30px 0 30px;">
                                    This Mother&rsquo;s Day, give her all that The Times has to offer. She may even introduce you, and others, to Times sections or journalists she comes to love. Also, you&rsquo;ll save up to 50% off on either a digital or home delivery gift subscription.
                                </td>
                            </tr>
                            <!--START CTA-->
                            <tr>
                                <td align="center" style="padding-top: 25px; padding-bottom: 25px;">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td align="center" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" bgcolor="#000000"><a href="http://m-ink.newyorktimesinfo.com/p/cp/0750e4455cf03186/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.nytimes.com%2Fsubscriptions%2FMultiproduct%2Flp8R34X.html" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 12px 14px; border: 1px solid #000000; display: inline-block; font-weight:bold;">GIVE NOW</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--END CTA-->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
