
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="padding-bottom:15px;">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="mobpad_message" bgcolor="#FFFFFF" align="left" valign="top" style="padding:50px 40px 50px 40px;">
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													<tr>
														<td align="left" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#090a0a;line-height:20px;font-weight:200;">Dear Subscriber,<br /><br />
															
																Some topics merit continuous attention and spare-no-resources coverage. Climate change is one subject, given its impact on every corner of the world and on generations to come. The Times&rsquo;s newsroom is committed to providing the best reporting on how our climate is changing. Fact-based, global, and told through multimedia, our coverage is compelling and memorable.
																<br /><br />
																In this month&rsquo;s Off the Press, we take a look at The Times&rsquo;s expanding climate change coverage.

														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>