

<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding-bottom:15px; padding-top:0px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td class="mobpad" bgcolor="#FFFFFF" align="left" valign="top" style="padding:40px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:30px; color:#000000;line-height:32px;text-align:center;padding-bottom:20px;">New In The Newspaper: A2/A3</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:25px;">
                                    <img src="CRS-15290_may_OTP_Newspaper.png" width="528" height="272" alt="New In The Newspaper: A2/A3" border="0" style="display:block;" class="em_img" />
                                </td>
                            </tr>
                            <tr>
                                <td class="mobpad3" align="center" valign="top" style="font-family:Helvetica, Times New Roman, serif; font-size:15px; color:#000000;line-height:20px; padding: 0 30px 0 30px;">
                                    You&rsquo;ll find addictive new content in the first two inside pages of the main news section. The March 2 debut of this reimagined space included: a selection of arresting facts pulled from articles across that day&rsquo;s paper; the story behind a Times story; a recommendation of a current Times video and audio; useful tips for daily life; a weekday Mini Crossword, previously available only in digital form; and more. You can&rsquo;t get there from here, but we hope you&rsquo;ll check it out the next time you open the newspaper.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
