
						<tr>
					<td class="mobpad" align="left" valign="top" style="font-family:Helvetica, Arial, Sans Serif; color:#666666; font-size:11px; line-height:14px; padding:25px; border-top:1px solid #cacaca;">This email was sent to {(email_address)}<br /><br />
					
					<a href="https://myaccount.nytimes.com" target="_blank" style="color:#666666;text-decoration:none;">Account Login</a> | <a href="http://www.nytimes.com/content/help/front.html" target="_blank" style="color:#666666;text-decoration:none;">Help Center</a><br />
					
					Attn.: Customer Service, P.O. Box 8041, Davenport, IA 52808-5041<br /><br />
					
					<a href="http://www.nytimes.com/content/help/rights/terms/terms-of-service.html" target="_blank" style="color:#666666;text-decoration:none;">Terms of Service</a> | <a href="http://www.nytimes.com/content/help/rights/privacy/policy/privacy-policy.html" style="color:#666666;text-decoration:none;">Privacy Policy</a> | <a href="{[NYT_OFFERS_unsub_dynamic_content|1596]}" target="_blank" style="color:#666666;text-decoration:none;">Unsubscribe</a><br /><br />
					
					&copy;{(MessageMergeTime||d:yyyy)} The New York Times Company | 620 Eighth Ave., New York, NY 10018</td>
				</tr>