
				<tr>
					<td class="logo" align="left" valign="top">
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td align="left" valign="middle" style="padding-top:10px; padding-bottom:10px;"><a href="https://www.nytimes.com/" target="_blank"><img src="http://f.e.newyorktimesinfo.com/i/18/2094298569/20160319_NYT_logo_340x86.gif" width="170" height="43" border="0" alt="The New York Times" style="display:block;" /></a></td>
								<td align="right" valign="middle" style="font-family: Helvetica, Arial, sans-serif; font-size:12px; text-align:right; color:#999999;"><a href="https://myaccount.nytimes.com" target="_blank" style="color:#373737;">My account</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://x.e.newyorktimesinfo.com/ats/msg.aspx?sg1={(URLSignature1)}" target="_blank" style="color:#373737;">View in browser</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<!--hero-->
				<tr>
					<td class="hide" align="left" valign="top" bgcolor="#4bb8c6" style="color:#ffffff;font-family: Georgia, serif; font-size:16px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fwww.nytimes.com%2F" target="_blank"><img src="CRS-14469_march_OTP_DK_hero.png" width="640" height="216" alt="Off the Press - March 2017" border="0" style="display:block;" /></a></td>
				</tr>
				<!--[if !mso]><!-- -->
				<tr>
					<td align="center" bgcolor="#4bb8c6">
						<div class="show" style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" valign="top"><a href="http://m-ink.newyorktimesinfo.com/p/cp/3b88168edfc22f27/c?mi_u={(regi_id)}&url=http%3A%2F%2Fwww.nytimes.com%2F" target="_blank"><img src="CRS-14469_march_OTP_EM_hero.png" width="640" height="340" alt="Off the Press - March 2017" border="0" style="display:block;" class="em_img" /></a></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<!--<![endif]--> 
				<!--end hero-->