
						<tr>
					<td bgcolor="#efefef" align="center" valign="top" style="padding:30px;">
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="center" valign="top" style="font-family:Helvetica, Arial, sans-serif; font-size:12px; color:#090a0a; font-weight:bold; padding-bottom:15px;">FOLLOW US</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									<table cellpadding="0" cellspacing="0" border="0" width="230">
										<tr>
											<td width="32" align="left" valign="top" style="padding-right:15px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.facebook.com%2Fnytimes" target="_blank"><img src="CRS-14907_march_Off_the_Press_fb.png" width="32" height="32" alt="Facebook" border="0" style="display:block;" /></a></td>
											<td width="32" align="left" valign="top" style="padding-right:15px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Ftwitter.com%2Fnytimes" target="_blank"><img src="CRS-14907_march_Off_the_Press_twitter.png" width="32" height="32" alt="Twitter" border="0" style="display:block;" /></a></td>
											<td width="32" align="left" valign="top" style="padding-right:15px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.youtube.com%2Fuser%2FTheNewYorkTimes" target="_blank"><img src="CRS-14907_march_Off_the_Press_youtube.png" width="32" height="32" alt="YouTube" border="0" style="display:block;" /></a></td>
											<td width="32" align="left" valign="top" style="padding-right:15px;"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.instagram.com%2Fnytimes%2F" target="_blank"><img src="CRS-14907_march_Off_the_Press_instagram.png" width="32" height="32" alt="Instagram" border="0" style="display:block;" /></a></td>
											<td width="32" align="left" valign="top"><a href="http://m-ink.newyorktimesinfo.com/p/cp/5c76b718796b4fdc/c?mi_u={(regi_id)}&url=https%3A%2F%2Fwww.pinterest.com%2Fnytimes%2F" target="_blank"><img src="CRS-14907_march_Off_the_Press_pinterest.png" width="32" height="32" alt="Pinterest" border="0" style="display:block;" /></a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>